// This stylesheet is written according to BEM convention.

// COLORS

$dark-blue: #011627;
$light-cyan: #E0FBFC;
$bright-yellow: #FF9F1C;
$azure: #3A86FF;
$orange: #FB5607;
$light-green: #9CEC5B;
$red: #D90429;
$dark-green: #248232;

// FONTS

$bold-font: 'Lobster', cursive;
$light-font: 'Montserrat', sans-serif;

@mixin text($font, $size) {
  font-family: $font;
  font-size: $size;
  color: $light-cyan;
  text-align: center;
};

@mixin flex-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}

@mixin button {
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.body {
  background-color: $dark-blue;
}

.header {
  display: block;
  margin: 20px auto 0 auto;
}

.header_title {
  @include text($bold-font, 50px)
}

.main {
  margin-top: 20px;
}

.main_settings {
  @include flex-container
}

.settings_container {
  margin: 0 5px;
}

.settings_container_title {
  @include text($light-font, 15px);
  text-transform: uppercase;
}

.settings_container_controls {
  @include flex-container;
  margin: 10px 0;
}

.controls_btn {
  @include text($light-font, 15px);
  @include button;
  margin: 0 5px;
}

.controls_btn:hover {
  color: $orange;
}

.controls_value {
  @include text($light-font, 25px);
}

.main_timer {
  position: relative;
  margin: 20px auto 0 auto;
  width: 250px;
  height: 250px;
  border: 5px $light-cyan solid;
}

.timer_filler {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}

.timer_status {
  z-index: 2;
  position: absolute;
  top: 30%;
  left: 28%;
  @include text($light-font, 20px);
  display: block;
}

.timer_time-left {
  z-index: 2;
  position: absolute;
  top: 45%;
  left: 28%;
  @include text($light-font, 45px);
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.timer_time-left:hover {
  color: $orange;
}

.main_sessions-counter {
  @include flex-container;
  margin: 40px auto 0 auto;
}

.sessions-counter_container {
  margin: 0 20px 20px 0
}

.sessions-counter_container_title {
  @include text($light-font, 15px);
  display: block;
  margin: 0 auto 10px auto;
  text-transform: uppercase;
}

.sessions-counter_container_value {
  @include text($light-font, 35px);
  display: block;
  margin: auto;
}

.footer {
  @include flex-container;
  margin-top: 20px;
}

.footer_text {
  @include text($light-font, 16px)
}

.footer_text--name {
  @include text($light-font, 16px);
  color: $orange;
  text-decoration: none;
  font-style: italic;
}

@media screen and (min-width: 576px) {

  .header_title {
    @include text($bold-font, 75px)
  }

  .main {
    margin-top: 40px;
  }

  .settings_container {
    margin: 0 20px;
  }

  .controls_btn {
    @include text($light-font, 25px);
    @include button
  }

  .controls_value {
    @include text($light-font, 35px);
  }

  .main_timer {
    margin: 40px auto 0 auto;
    width: 350px;
    height: 350px;
  }

  .timer_status {
    @include text($light-font, 30px);
    margin-bottom: 30px;
  }

  .timer_time-left {
    @include text($light-font, 60px);
  }

}